pytest
pytest-cov
cherrypy
python-forecastio
flake8>=3.7.5
alexandra
# This previously needed to be <2.2
# Locking the version due to weird rust errors
cryptography==3.3.2
recordclass
Zope
fuzzywuzzy
inflect
python-Levenshtein
# Why is setup.py not found?
#micropython-urequests